$color-principal: rgb(255, 74, 243);
$color-secundario: rgb(243, 255, 74);


h4,h5,h6
{
    $color-principal: rgb(255, 74, 243);


}

div{
h5{
    $color-secundario: rgb(222, 255, 74);
}
h4{
    color:aquamarine;
}
}
/* clase*/
.alineacion{
text-align: center;

}